{{ define "main" }}

{{ with .Site.GetPage "section" "" "home" }}


<article class="container">
    <div class="flex-container">
    <div class="profilecolumn1">
       
    <div class= "profiletext-name">{{ "Sooraj Nhaloor" | markdownify }}</div>
    <div class="profiletext-sub "> {{ "Physics Grad | Maker | DIYist" | markdownify }} </div>
    </div>

    <div class="profilecolumn2">
    <figure class="profilepic"><img src="/img/me.jpg"></figure>
    </div>
    

</article>


<article class="post-cont" style="text-align: justify;">
    <h3>Hey Peeps !</h3>
    <p> Welcome to my personal website, where I share my passion for ⚛️ science and boredom.🥱</p>
    <p></p>
    <p>I'm a physicist and DIY aficionado who loves to create. I'm passionate about using my knowledge of physics and electronics to build 
        new and innovative things. I also enjoy sharing my skills and knowledge with others.</p>
        <p>⚠️ <i>On this website, you'll find a variety of boring stuff related to my interests,</i>  </p>
        <p></p>
<p>🚀<b>DIY projects: </b>I love to build all sorts of things, from robots to smart home devices. I share my projects and tutorials here on my blog.</p>
    
<p>⚡ <b>Electronics: </b>I'm fascinated by how electronics work, and I love to learn new things about them, as well as through my work on various DIY projects.</p>
<p>👾 <b>Coding: </b>I'm relatively new to coding, but I'm learning as much as I can. I use coding to power some of my DIY projects, especially in embedded systems</p>
<p></p>
<p>I'm always exploring new ideas and learning new things. If you have any questions or suggestions, please don't hesitate.</p>

<p><h3>"Be inspired.💡"</h3></p>

</article>
       
        
      
    </div>


                   
{{ end }}    

{{ end }}



