{{ define "main" }}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
    </h1>
    <div class="post-content">
  
<img src="\img\404.png">
      {{ if .Site.Taxonomies.tags }}
        
        <div class="terms">
          <ul class="terms__list">
            {{ range .Site.Taxonomies.tags }}
              <li class="terms__term">
                <a href="{{ .Page.Permalink }}">#{{ .Page.Title }}</a
                ><span class="terms__term-count">{{ .Count }}</span>
              </li>
            {{ end }}
          </ul>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}
